#SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = '83512035a89abd3721230e94caea54c4'
API_SECRET = 'Mv2y5KogIgHyvtv9vj2fn9BawJCNkj_-'
